body {
     font-family: arial, sans-serif
}
div {
    font-size: 10pt;
    text-align: center;
}
table {
    border: 0;
}
td { 
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}
.error { color: red; }
.distinct { color: blue; }
